services:
  test-insta-front:
    image: mohamedsamir170/insta-front:test
    container_name: test-insta-front
    ports:
      - "3001:80"
    env_file:
      - .env.test
    networks:
      - test-insta-pay
    depends_on:
      - test-user-service
      - test-transaction-service
      - test-reporting-service
    volumes:
      - ./test-nginx.conf:/etc/nginx/conf.d/default.conf

  test-user-service:
    depends_on:
      - test-mongo
    image: mohamedsamir170/user-service:test
    container_name: test-user-service
    env_file:
      - .env.test
    networks:
      - test-insta-pay
    ports:
      - "5001:5000"
    volumes:
      - test-user_data:/app/data

  test-transaction-service:
    depends_on:
      - test-user-service
    image: mohamedsamir170/transaction-service:test
    container_name: test-transaction-service
    env_file:
      - .env.test
    ports:
      - "5004:5000"
    networks:
      - test-insta-pay
    volumes:
      - test-transaction_data:/app/data

  test-reporting-service:
    depends_on:
      - test-transaction-service
    image: mohamedsamir170/reporting-service:test
    container_name: test-reporting-service
    env_file:
      - .env.test
    ports:
      - "5007:5000"
    networks:
      - test-insta-pay
    volumes:
      - test-reporting_data:/app/data
  
  test-mongo:
    image: mongo
    container_name: test-mongo
    networks:
      - test-insta-pay
    volumes:
      - test-mongo_data:/data/db

networks:
  test-insta-pay:
    name: test-insta-pay
    driver: bridge

volumes:
  test-user_data:
  test-transaction_data:
  test-reporting_data: 
  test-mongo_data: